<p-confirmdialog></p-confirmdialog>
<p-toast></p-toast>

<div class="dashboard-container">
  <!-- Calendario (50%) -->
  <div class="calendar-section">
    <div class="calendar-header">
      <h3>Elije un día para mantenimientos</h3>
    </div>
    <div class="calendar-wrapper">
      <p-calendar
        [disabledDates]="fechasOcupadas"
        (onSelect)="abrirDialog($event)"
        [inline]="true"
        dateFormat="yyyy-MM-dd"
        [showOtherMonths]="true"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="2023:2030">
      </p-calendar>
    </div>
    <!--<ng-template #customDateTemplate let-date>
      <span
        [ngStyle]="getstyleCalendarDayOcupation(date)"
        [title]="getToolTipPorDia(date)"
        class="p-text-bold"
      >
        {{ date.day }}
      </span> 
    </ng-template>
    <ng-template #customDateTemplate let-date>
      <div [ngClass]="getDateClass(date)">
        {{ date.getDate() }}
        <i *ngIf="isDateLimitReached(date)" class="pi pi-ban icono-alerta"></i>
      </div>
    </ng-template>-->
  </div>

  <!-- Tabla (50%) -->
  <div class="table-section">
    <div class="table-header">
      <h3>Registros de citas</h3>
      <!--<span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Buscar..." />
      </span>-->
    </div>
    <div class="table-wrapper">
    <!-- Tabla   -->                     
      <p-table 
          #dt 
          [value]="cargando ? skeletonData : lista"
          [loading]="cargando"
          [rows]="5" 
          [paginator]="true" 
          [scrollable]="true"
          [globalFilterFields]="['id', 'asignacion_vehiculo','fecha', 'hora', 'completado', 'observacion']"
          [style.width.%]="100" 
          styleClass="blue-km-table p-datatable-striped"
          [rowsPerPageOptions]="[5, 10, 20]" 
          [rowHover]="true"
          [resizableColumns]="true"
          [alwaysShowPaginator]="true"
          dataKey="id"
          scrollHeight="flex"
          [showCurrentPageReport]="true"
          emptyMessage="No hay registros disponibles"
          >

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id" class="compact-header">Id <p-sortIcon field="id" /></th>
              <th pSortableColumn="placa" class="compact-header">Vehiculo <p-sortIcon field="placa" /></th>
              <th pSortableColumn="fecha" class="compact-header">Fecha <p-sortIcon field="perfil" /></th>
              <th pSortableColumn="situacion_actual" class="compact-header">Estado <p-sortIcon field="situacion_actual" /></th>
              <th pSortableColumn="observacion" class="compact-header">Observación <p-sortIcon field="observacion" /></th>
              <!--<th >Operaciones</th>-->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entidad let-rowIndex="rowIndex">
            <tr *ngIf="cargando; else mostrarDatos">
              <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="9rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            </tr>
            <ng-template #mostrarDatos>
              <tr>
                  <td>{{entidad.id}}</td>
                  <td class="vehicle-info">
                    <span>{{entidad.placa}}</span>
                  </td>
                  <td class="date-cell">
                    <span class="date">{{entidad.fecha | date: 'dd MMM yyyy'}}</span>
                  </td>
                  <td style="text-align: center;">
                    <p-tag 
                      [value]="entidad.situacion_actual" 
                      [severity]="getColorEstado(entidad.situacion_actual)"> 
                    </p-tag>
                  </td>
                  <td>{{entidad.observacion}}</td>
                  <!--<td>
                    <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                    <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                  </td>-->
              </tr>
            </ng-template>
          </ng-template>
      </p-table>  
    </div>
  </div>
</div>

<p-dialog header="Reservar Mantenimiento" [(visible)]="dialogoVisible" [style]="{  width: '90%', maxWidth: '450px'}" [modal]="true">
  <div class="p-fluid">
    <p>Estás reservando un mantenimiento para el día: <b>{{ fechaSeleccionada | date:'fullDate':'':'es' }} </b></p>
    <p>Cupos disponibles: <strong>6</strong>/6</p>
  </div>
  <ng-template #content>
    <div class="formulario">
      <div>
        <label for="data" class="block font-bold mb-3">Vehiculo</label>
          <p-dropdown fluid [appendTo]="'body'"
            [options]="asginado"
            optionLabel="placa"
            optionValue="id"
            [(ngModel)]="entidad.asignacion_vehiculo"
            placeholder="Seleccione un vehiculo">
        </p-dropdown>
      </div>
      <div>
        <label for="observacion" class="block font-bold mb-3">Observación</label>
        <textarea id="observacion" pTextarea [(ngModel)]="entidad.observacion" rows="3" cols="30" placeholder="Este campo es opcional" fluid ></textarea>
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <p-button label="Cancel" severity="info" icon="pi pi-times" text (click)="cerrarDialogo()" />
    <p-button label="Reservar Cita" severity="info" icon="pi pi-check" (click)="guardar()" />
  </ng-template>
</p-dialog>

<!-- Modal para agregar o editar producto 
<p-dialog [(visible)]="displayModal" [style]="{  width: '90%', maxWidth: '450px'}" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="formulario">
            <div>
                <label for="fecha" class="block font-bold mb-3">Fecha</label>
                <p-datepicker id="fecha" [(ngModel)]="entidad.fecha" dateFormat="dd-MM-yy" placeholder="Fecha asignación" [showIcon]="true" [appendTo]="'body'" fluid />
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" severity="info" icon="pi pi-times" text (click)="cerrarDialogo()" />
      <p-button label="Guardar" severity="info" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>-->
                            