<p-confirmdialog></p-confirmdialog>
<p-toast></p-toast>


<div class="card-container">
  <p-card class="card-item">
    <div class="card-content">
      <i class="pi pi-car icon"></i>
      <h3 class="text-center text-sm text-gray-600">Vehículo Asignado</h3>
      <p  class="text-center card-value">
         <i class="pi pi-verified mr-2 text-info text-base align-middle"></i>
        {{vehiculoAsignado?.placa}}
      </p>
    </div>
  </p-card>

  <p-card class="card-item">
    <div class="card-content">
      <i class="pi pi-bolt icon"></i>
      <h3 class="text-center text-sm text-gray-600">Kilometraje Actual</h3>
      <p class="text-center card-value">
        <i class="pi pi-compass mr-2 text-primary text-base align-middle"></i>
        {{lista?.length > 0 ? lista?.[0]?.kilometraje + ' km': vehiculoAsignado?.kilometraje_inicial}}
      </p>
    </div>
  </p-card>

  <p-card class="card-item">
    <div class="card-content">
      <i class="pi pi-exclamation-triangle icon"></i>
      <h3 class="text-center text-sm text-gray-600">Kilometraje Restantes</h3>
      <p class="text-center card-value">
        <i class="pi pi-flag mr-2 text-danger text-base align-middle"></i>
        {{ lista?.length > 0 ? lista?.[0]?.kilometraje_faltante + ' km': 0}}
      </p>
      <!--<div class="mt-2">
        <p-tag 
          [value]="getEstadoKilometraje(lista?.[0]?.kilometraje_faltante)" 
          [severity]="getColorKilometraje(lista?.[0]?.kilometraje_faltante)"
          class="text-sm">
        </p-tag>
      </div>-->
    </div>
  </p-card>

  <!--<p-card header="Progreso hacia mantenimiento" class="card-item mantenimiento-card">
    <ng-template pTemplate="content">
      <div class="text-center" [ngClass]="getProgresoColor(lista?.[0]?.kilometraje, vehiculoAsignado?.kilometro_min)">
        <p-progressBar 
          [value]="getProgreso(lista?.[0]?.kilometraje, vehiculoAsignado?.kilometro_min)" 
          [showValue]="true" 
          styleClass="w-full progress-redondeado"
          [ngClass]="getProgresoColor(lista?.[0]?.kilometraje, vehiculoAsignado?.kilometro_min)">
        </p-progressBar>
        <small class="block mt-2 text-color-secondary">
          <i class="pi pi-exclamation-triangle mr-2 text-warning text-base align-middle"></i>
          Cada {{vehiculoAsignado?.kilometro_min}} km se requiere mantenimiento obligatorio
        </small>
      </div>
    </ng-template>
  </p-card>-->
  <p-card header="Progreso hacia mantenimiento" class="card-item mantenimiento-card">
    <ng-template pTemplate="content">
      <div class="progress-wrapper">
        <div class="progress-bar"
            [style.width.%]="getProgreso(lista?.[0]?.kilometraje, vehiculoAsignado?.kilometro_min)"
            [ngStyle]="{
              'background-color': getProgresoColor(lista?.[0]?.kilometraje, vehiculoAsignado?.kilometro_min)
            }">
            <!-- Muestra el porcentaje dentro de la barra -->
            <span class="progress-text">
              {{ getProgreso(lista?.[0]?.kilometraje, vehiculoAsignado?.kilometro_min) }}%
            </span>
        </div>
        <!-- Botón que se muestra cuando el progreso es igual o mayor al 95% -->
        <!--<button *ngIf="getProgreso(lista?.[0]?.kilometraje, vehiculoAsignado?.kilometro_min) >= 95"
                class="progress-button"> <!-- Redirige a otra vista -->
          <!--¡Casi Listo!
        </button>-->
      </div>
      <small class="block mt-2 text-color-secondary">
        <i class="pi pi-exclamation-triangle mr-2 text-warning text-base align-middle"></i>
        Cada {{vehiculoAsignado?.kilometro_min}} km se requiere mantenimiento obligatorio
      </small>
    </ng-template>
  </p-card>

</div>


<div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template #start>
        <p-button label="Nuevo" variant="text" severity="info" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
      </ng-template>
      <ng-template #end>
        <div class="busqueda-export">
          <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
        </div>
      </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="cargando ? skeletonData : lista"
        [loading]="cargando" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'asignacion_vehiculo', 'kilometraje']"
        [style.width.%]="100" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id"># <p-sortIcon field="id" /></th>
            <th pSortableColumn="fecha_crea">Fecha creación <p-sortIcon field="fecha_crea" /></th>
            <th pSortableColumn="placa">Placa de vehiculo <p-sortIcon field="placa" /></th>
            <th pSortableColumn="kilometraje">Kilometraje <p-sortIcon field="kilometraje" /></th>
            <th pSortableColumn="kilometraje_faltante">Kilometraje faltante<p-sortIcon field="kilometraje_faltante" /></th>
            <th pSortableColumn="observacion">Observación<p-sortIcon field="observacion" /></th>
           
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
          <tr *ngIf="cargando; else mostrarDatos">
            <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="9rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
          </tr>
          <ng-template #mostrarDatos>
            <tr>
                <td pFrozenColumn>{{entidad.id}}</td>
                <td>{{entidad.fecha_crea | date: 'dd MMMM yyyy':'':'es'}}</td>
                <td>{{entidad.placa}}</td>
                <td pFrozenColumn>{{entidad.kilometraje}}</td>
                <td>
                  <span 
                      class="font-bold px-2 py-1 rounded-lg"
                      [ngClass]="{
                        'bg-red-100 text-red-800': entidad.kilometraje_faltante <= 100,
                        'bg-yellow-100 text-yellow-800': entidad.kilometraje_faltante > 100 && entidad.kilometraje_faltante <= 500,
                        'bg-green-100 text-green-800': entidad.kilometraje_faltante > 800,
                        'bg-gray-100 text-gray-800': entidad.kilometraje_faltante > 500 && entidad.kilometraje_faltante <= 800
                      }"
                    >
                    {{entidad.kilometraje_faltante}} km
                  </span>
                </td>
                <td class="observation-cell">
                  <span>{{ entidad.observacion }}</span>
                </td>
                
            </tr>
          </ng-template>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="text-center text-gray-600">
              No hay registros aún. ¡Vamos, regístralo por primera vez!
            </td>
          </tr>
        </ng-template>
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [style]="{ width: '90%', maxWidth: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="formulario">
            <div>
              <label for="data" class="block font-bold mb-3">Vehiculo</label>
                <p-dropdown fluid [appendTo]="'body'"
                  [options]="asginado"
                  optionLabel="placa"
                  optionValue="id"
                  [(ngModel)]="entidad.asignacion_vehiculo"
                  placeholder="Seleccione un vehiculo">
              </p-dropdown>
            </div>
            <div>
              <label for="kilometraje" class="block font-bold mb-3">Kilometraje</label>
              <input id="kilometraje" type="number" pInputText placeholder="Ingrese su kilometraje actual" [(ngModel)]="entidad.kilometraje" (input)="onKilometrajeChange(vehiculoAsignado?.kilometro_min)" fluid />
            </div>
            <div>
              <label for="kilometraje_faltante" class="block font-bold mb-3">Kilometraje faltante</label>
              <input id="kilometraje_faltante" type="number" pInputText [(ngModel)]="entidad.kilometraje_faltante" (input)="onKilometrajeChange(vehiculoAsignado?.kilometro_min)" disabled fluid />
            </div>
            <div>
              <label for="observacion" class="block font-bold mb-3">Observación</label>
              <textarea id="observacion" pTextarea [(ngModel)]="entidad.observacion" rows="3" cols="30" placeholder="Este campo es opcional" fluid ></textarea>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" severity="info" icon="pi pi-times" text (click)="cerrarDialogo()" />
      <p-button label="Guardar" severity="info" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
                            