<p-confirmdialog></p-confirmdialog>
<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template #start>
        <p-button label="Nuevo" variant="text" severity="info" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
      </ng-template>
      <ng-template #end>
        <div class="busqueda-export">
          <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
        </div>
      </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="cargando ? skeletonData : lista"
        [loading]="cargando"
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'vehiculo', 'perfil','fecha_asignacion', 'fecha_fin']"
        [style.width.%]="100"  
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        emptyMessage="No hay registros disponibles"
        >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
            <th pSortableColumn="vehiculo">vehiculo <p-sortIcon field="vehiculo" /></th>
            <th pSortableColumn="perfil">Colaborador <p-sortIcon field="perfil" /></th>
            <th pSortableColumn="fecha_asignacion">Fecha Asignaciòn <p-sortIcon field="fecha_asignacion" /></th>
            <th pSortableColumn="fecha_fin">Fecha Fin <p-sortIcon field="fecha_fin" /></th>
            <th >Operaciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad >
          <tr *ngIf="cargando; else mostrarDatos">
            <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="9rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
          </tr>
          <ng-template #mostrarDatos>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{obtenerPlacaVehiculo(entidad.vehiculo)}}</td>
                <td>{{obtenerNombrePerfil(entidad.perfil)}}</td>
                <td>{{entidad.fecha_asignacion | date: 'dd MMMM yyyy' : 'es' }}</td>
                <td>{{entidad.fecha_fin | date: 'dd MMMM yyyy': 'es' }}</td>
                <td>
                  <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                  <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                </td>
            </tr>
          </ng-template>
        </ng-template>
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [style]="{  width: '90%', maxWidth: '450px'}" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="formulario">
            <div>
              <label for="data" class="block font-bold mb-3">Vehiculo</label>
                <p-dropdown fluid [appendTo]="'body'"
                  [options]="vehiculos"
                  optionLabel="numero_placa"
                  optionValue="id"
                  [(ngModel)]="entidad.vehiculo"
                  placeholder="Seleccione un vehiculo">
              </p-dropdown>
            </div>
            <div>
              <label for="data" class="block font-bold mb-3">Conductor</label>
                <p-dropdown fluid [appendTo]="'body'"
                  [options]="perfilDetalles"
                  optionLabel="full_name"
                  optionValue="usuario_id"
                  [(ngModel)]="entidad.perfil"
                  placeholder="Seleccione colaborador">
              </p-dropdown>
            </div>
            <div>
                <label for="fecha_asignacion" class="block font-bold mb-3">Fecha asignación</label>
                <p-datepicker id="fecha_asignacion" [(ngModel)]="entidad.fecha_asignacion" dateFormat="dd-MM-yy" placeholder="Fecha asignación" [showIcon]="true" fluid />
            </div>
            <div>
                <label for="fecha_fin" class="block font-bold mb-3">Fecha fin</label>
                <p-datepicker id="fecha_fin" [(ngModel)]="entidad.fecha_fin" dateFormat="dd-MM-yy" placeholder="Fecha fin" [showIcon]="true" fluid />
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" severity="info" icon="pi pi-times" text (click)="cerrarDialogo()" />
      <p-button label="Guardar" severity="info" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
                            