<p-confirmdialog></p-confirmdialog>
<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template #start>
        <p-button label="Nuevo" variant="text" severity="info" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
      </ng-template>
      <ng-template #end>
        <div class="busqueda-export">
          <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
            <p-button label="Excel" icon="pi pi-file-excel" severity="secondary" (click)="exportExcel()" />
            <p-button label="PDF" icon="pi pi-file-pdf" severity="secondary" (click)="exportPDF()" />
        </div>
      </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="cargando ? skeletonData : lista"
        [loading]="cargando" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'numero', 'kilometraje','kilometraje_faltante','nombre_tipo_vehiculo','first_name','nombre_area','jefatura','placa', 'color', 'modelo', 'fabricacion', 'numero_serie', 'numero_motor']"
        [tableStyle]="{ 'min-width': '75rem' }" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        [loading]="cargando"
        emptyMessage="No hay registros disponibles"
        >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
            <th pSortableColumn="numero">N° Moto <p-sortIcon field="numero" /></th>
            <th pSortableColumn="fecha_crea">Fecha <p-sortIcon field="fecha_crea" /></th>
            <th pSortableColumn="kilometraje">Kilometraje <p-sortIcon field="kilometraje" /></th>
            <th pSortableColumn="kilometraje_faltante">Km faltante<p-sortIcon field="kilometraje_faltante" /></th>
            <th pSortableColumn="nombre_tipo_vehiculo">Movilidad <p-sortIcon field="nombre_tipo_vehiculo" /></th>
            <th pSortableColumn="first_name">Conductor <p-sortIcon field="first_name" /></th>
            <th pSortableColumn="nombre_area">Area <p-sortIcon field="nombre_area" /></th>
            <th pSortableColumn="jefatura_nombre">Jefatura <p-sortIcon field="jefatura_nombre" /></th>
            <th pSortableColumn="placa">Placa <p-sortIcon field="placa" /></th>
            <th pSortableColumn="color">Color <p-sortIcon field="color" /></th>
            <th pSortableColumn="modelo">Modelo <p-sortIcon field="modelo" /></th>
            <th pSortableColumn="fabricacion">Fabricación <p-sortIcon field="fabricacion" /></th>
            <th pSortableColumn="numero_serie">N° serie <p-sortIcon field="numero_serie" /></th>
            <th pSortableColumn="numero_motor">N° Motor <p-sortIcon field="numero_motor" /></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
          <tr *ngIf="cargando; else mostrarDatos">
            <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="9rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
          </tr>
          <ng-template #mostrarDatos>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{entidad.fecha_crea |  date: 'dd MMMM yyyy': 'es'}}</td>
                <td>{{entidad.numero}}</td>
                <td>{{entidad.kilometraje}}</td>
                <td>{{entidad.kilometraje_faltante}}</td>
                <td>{{entidad.nombre_tipo_vehiculo}}</td>
                <td>{{entidad.first_name}}</td>
                <td>{{entidad.nombre_area}}</td>
                <td>{{entidad.jefatura_nombre}}</td>
                <td>{{entidad.placa}}</td>
                <td>{{entidad.color}}</td>
                <td>{{entidad.modelo}}</td>
                <td>{{entidad.fabricacion}}</td>
                <td>{{entidad.numero_serie}}</td>
                <td>{{entidad.fabricacion}}</td>
            </tr>
          </ng-template>
        </ng-template>
        <!--<ng-template #summary>
            <div class="flex items-center justify-between">En total hay  {{ entidad ? entidad.length : 0 }} entidad.</div>
        </ng-template> -->
    </p-table>
</div>

    