  <p-confirmdialog></p-confirmdialog>
  <p-toast></p-toast>
  <!-- FILTROS SUPERIORES -->
<div class="flex flex-column md:flex-row md:align-items-end gap-3 mb-4">
  <!-- Fecha inicio -->
  <div class="flex-1">
    <label for="fecha_inicio" class="block mb-1 font-medium">Fecha Inicio</label>
    <input id="fecha_inicio" type="date"
      [(ngModel)]="fecha_inicio"
      (ngModelChange)="aplicarFiltros()"
      class="p-inputtext p-component w-full"
    >
  </div>

  <!-- Fecha fin -->
  <div class="flex-1">
    <label for="fecha_fin" class="block mb-1 font-medium">Fecha Fin</label>
    <input id="fecha_fin" type="date"
      [(ngModel)]="fecha_fin"
      (ngModelChange)="aplicarFiltros()"
      class="p-inputtext p-component w-full"
    >
  </div>

  <!-- Select tipo -->
  <div class="flex-1">
    <label for="tipoFiltro" class="block mb-1 font-medium">Tipo de Filtro</label>
    <p-dropdown
      inputId="tipoFiltro"
      [(ngModel)]="observacionSeleccionada"
      (ngModelChange)="aplicarFiltros()"
      [options]="listaTipos"
      optionLabel="nombre"
      optionValue="observacion"
      placeholder="Selecciona"
      class="w-full"
    />
  </div>

  <!-- Botón aplicar filtros (opcional) 
  <div class="flex-none">
    <p-button label="Filtrar"  variant="outlined" severity="warn" icon="pi pi-filter" (click)="aplicarFiltros()" />
  </div>-->
</div>

  <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template #start>
          <p-button label="Nuevo" variant="text" severity="info" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
        </ng-template>
        <ng-template #end>
          <div class="busqueda-export">
            <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
              <p-button label="Excel" icon="pi pi-file-excel" severity="secondary" (click)="exportExcel()" />
              <p-button label="PDF" icon="pi pi-file-pdf" severity="secondary" (click)="exportPDF()" />
          </div>
        </ng-template>
      </p-toolbar>

      <!--<div class="mb-4 p-2 bg-gray-100 rounded-lg">
        <h5 class="font-bold text-lg">Leyenda:</h5>
        <ul class="list-inside">
          <li><span class="inline-block w-3 h-3 bg-red-500 rounded-full mr-2"></span> Menos de 100 km: **Mantenimiento urgente**</li>
          <li><span class="inline-block w-3 h-3 bg-yellow-500 rounded-full mr-2"></span> Menos de 500 km: **Pronto mantenimiento**</li>
          <li><span class="inline-block w-3 h-3 bg-green-500 rounded-full mr-2"></span> Más de 800 km: **Todo bien**</li>
          <li><span class="inline-block w-3 h-3 bg-gray-400 rounded-full mr-2"></span> Entre 500 y 800 km: **Estado neutral**</li>
        </ul> 
      </div>-->

      
      <!-- Tabla -->                            
      <p-table 
          #dt 
          [value]="cargando ? skeletonData : listaFiltrada"
          [loading]="cargando" 
          [rows]="10" 
          [paginator]="true" 
          [globalFilterFields]="['id','fecha_crea', 'numero', 'kilometraje','kilometraje_faltante','nombre_tipo_vehiculo','first_name','nombre_area','jefatura_nombre','placa', 'color', 'modelo', 'fabricacion', 'numero_serie', 'numero_motor', 'observacion']"
          [style.width.%]="100"  
          [rowsPerPageOptions]="[5, 10, 20]" 
          [rowHover]="true"
          dataKey="id"
          [showCurrentPageReport]="true"
          [loading]="cargando"
          emptyMessage="No hay registros disponibles"
          >

          <!--Cabecera de la tabla -->
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
              <th pSortableColumn="fecha_crea">Fecha <p-sortIcon field="fecha_crea" /></th>
              <th pSortableColumn="numero">N° Moto <p-sortIcon field="numero" /></th>
              <th pSortableColumn="kilometraje">Kilometraje <p-sortIcon field="kilometraje" /></th>
              <th pSortableColumn="kilometraje_faltante">Km faltante<p-sortIcon field="kilometraje_faltante" /></th>
              <th pSortableColumn="nombre_tipo_vehiculo">Movilidad <p-sortIcon field="nombre_tipo_vehiculo" /></th>
              <th pSortableColumn="first_name">Conductor <p-sortIcon field="first_name" /></th>
              <th pSortableColumn="nombre_area">Area <p-sortIcon field="nombre_area" /></th>
              <th pSortableColumn="jefatura_nombre">Jefatura <p-sortIcon field="jefatura_nombre" /></th>
              <th pSortableColumn="placa">Placa <p-sortIcon field="placa" /></th>
              <th pSortableColumn="color">Color <p-sortIcon field="color" /></th>
              <th pSortableColumn="modelo">Modelo <p-sortIcon field="modelo" /></th>
              <th pSortableColumn="fabricacion">Fabricación <p-sortIcon field="fabricacion" /></th>
              <th pSortableColumn="numero_serie">N° serie <p-sortIcon field="numero_serie" /></th>
              <th pSortableColumn="numero_motor">N° Motor <p-sortIcon field="numero_motor" /></th>
              <th pSortableColumn="observacion_vehiculo">Adquisición <p-sortIcon field="observacion_vehiculo" /></th>
              <th pSortableColumn="observacion">Observación <p-sortIcon field="observacion" /></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entidad>
            <tr *ngIf="cargando; else mostrarDatos">
              <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="9rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
              <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            </tr>
            <ng-template #mostrarDatos>
              <tr>
                  <td>{{entidad.id}}</td>
                  <td>{{entidad.fecha_crea |  date:'dd MMM yy, HH:mm':'es'}}</td>
                  <td>{{entidad.numero}}</td>
                  <td>{{entidad.kilometraje}}</td>
                  <td>
                    <span 
                      class="font-bold px-2 py-1 rounded-lg"
                      [ngClass]="{
                        'bg-red-100 text-red-800': entidad.kilometraje_faltante <= 100,
                        'bg-yellow-100 text-yellow-800': entidad.kilometraje_faltante > 100 && entidad.kilometraje_faltante <= 500,
                        'bg-green-100 text-green-800': entidad.kilometraje_faltante > 800,
                        'bg-gray-100 text-gray-800': entidad.kilometraje_faltante > 500 && entidad.kilometraje_faltante <= 800
                      }"
                    >
                      {{entidad.kilometraje_faltante}} km
                    </span>
                  </td>
                  <td>{{entidad.nombre_tipo_vehiculo}}</td>
                  <td>{{entidad.first_name}}</td>
                  <td>{{entidad.nombre_area}}</td>
                  <td>{{entidad.jefatura_nombre}}</td>
                  <td>{{entidad.placa}}</td>
                  <td>{{entidad.color}}</td>
                  <td>{{entidad.modelo}}</td>
                  <td>{{entidad.fabricacion}}</td>
                  <td>{{entidad.numero_serie}}</td>
                  <td>{{entidad.numero_motor}}</td>
                  <td>{{entidad.observacion_vehiculo}}</td>
                  <td class="observation-cell">
                    <span>{{entidad.observacion}}</span>
                  </td>
              </tr>
            </ng-template>
          </ng-template>
      </p-table>
  </div>

      