<p-confirmdialog></p-confirmdialog>
<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template #start>
        <p-button label="Nuevo" variant="text" severity="info" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
      </ng-template>
      <ng-template #end>
        <div class="busqueda-export">
          <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
        </div>
      </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="cargando ? skeletonData : lista"
        [loading]="cargando" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'nombre_tipo_vehiculo', 'kilometro_min']"
        [tableStyle]="{ 'min-width': '75rem' }" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
            <th pSortableColumn="nombre_tipo_vehiculo">Tipo de vehiculo <p-sortIcon field="nombre_tipo_vehiculo" /></th>
            <th pSortableColumn="kilometro_min">Kilometraje min <p-sortIcon field="kilometro_min" /></th>
            <th >Operaciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
          <tr *ngIf="cargando; else mostrarDatos">
            <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="9rem" height="1.5rem"></p-skeleton></td>
            <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
          </tr>
          <ng-template #mostrarDatos>
            <tr>
                <td>{{entidad.id}}</td>
                <td>{{entidad.nombre_tipo_vehiculo}}</td>
                <td>{{entidad.kilometro_min}}</td>
                <td>
                  <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                  <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                </td>
            </tr>
          </ng-template>
        </ng-template>
        <!--<ng-template #summary>
            <div class="flex items-center justify-between">En total hay  {{ entidad ? entidad.length : 0 }} entidad.</div>
        </ng-template> -->
    </p-table>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [style]="{  width: '90%', maxWidth: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="formulario">
            <div>
                <label for="nombre_tipo_vehiculo" class="block font-bold mb-3">Tipo de vehiculo</label>
                <input id="nombre_tipo_vehiculo" type="text" pInputText [(ngModel)]="entidad.nombre_tipo_vehiculo" required autofocus fluid />
            </div>
            <div>
                <label for="kilometro_min" class="block font-bold mb-3">Kilometraje limite</label>
                <input id="kilometro_min" type="number" pInputText [(ngModel)]="entidad.kilometro_min" fluid />
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" severity="info" icon="pi pi-times" text (click)="cerrarDialogo()" />
      <p-button label="Guardar" severity="info" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
</div>