<p-confirmdialog></p-confirmdialog>
<p-toast />
<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template #start>
            <p-button label="Nuevo" variant="text" severity="info" [raised]="true" icon="pi pi-plus" (click)="mostrarDialogo()"/>
        </ng-template>
        <ng-template #end>
            <div class="busqueda-export">
                <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                <p-button label="Export" icon="pi pi-upload" class="boton-exportar" (click)="exportCSV()" />
            </div>
        </ng-template>
    </p-toolbar>

    <!-- Tabla -->
    <p-table
    #dt
    [value]="lista"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="globalFilterFields"
    [style.width.%]="100" 
    [rowsPerPageOptions]="[5, 10, 20]"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="header">
            <tr>
                <ng-content select="[header]"></ng-content>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr>
                <ng-content select="[body]" [entidad]="entidad"></ng-content>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" (click)="CargarDatosModal(entidad)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" (click)="eliminar(entidad.id)"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Modal para agregar o editar -->
<p-dialog [(visible)]="displayModal" [style]="{ width: '90%', maxWidth: '450px'  }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="formulario">
            <ng-content select="[modal-content]"></ng-content>
        </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" severity="info" icon="pi pi-times" text (click)="cerrarDialogo()" />
      <p-button label="Guardar" severity="info" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>