<p-confirmdialog></p-confirmdialog>
<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template #start>
        <p-button label="Nuevo" variant="text" severity="info" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
      </ng-template>
      <ng-template #end>
        <div class="busqueda-export">
          <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
        </div>
      </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
      #dt 
      [value]="cargando ? skeletonData : lista"
      [loading]="cargando" 
      [rows]="5" 
      [paginator]="true" 
      [globalFilterFields]="['id', 'asignacion_vehiculo', 'fecha_hora', 'incidencia', 'costo_reparacion', 'solucion', 'observacion']"
      [style.width.%]="100" 
      [rowsPerPageOptions]="[5, 10, 20]" 
      [rowHover]="true"
      dataKey="id"
      [showCurrentPageReport]="true"
    >

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">#<p-sortIcon field="id" /></th>
        <th pSortableColumn="fecha_hora">Fecha Incidencia <p-sortIcon field="fecha_hora" /></th>
        <th pSortableColumn="asignacion_vehiculo">Placa de vehiculo <p-sortIcon field="asignacion_vehiculo" /></th>
        <th pSortableColumn="incidencia">Incidencia <p-sortIcon field="incidencia" /></th>
        <th pSortableColumn="solucion">Solucion <p-sortIcon field="solucion" /></th>
        <th pSortableColumn="observacion">Observción<p-sortIcon field="observacion" /></th>
        <th >Operaciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entidad>
        <tr *ngIf="cargando; else mostrarDatos">
          <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
          <td><p-skeleton width="7rem" height="1.5rem"></p-skeleton></td>
          <td><p-skeleton width="9rem" height="1.5rem"></p-skeleton></td>
          <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
          <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
          <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
          <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
        </tr>
          <ng-template #mostrarDatos>
            <tr>
              <td>{{entidad.id}}</td>
              <td>{{entidad.fecha_hora | date: 'dd MMMM yyyy': 'es'}}</td>
              <td>{{entidad.placa}}</td>
              <td>{{entidad.incidencia}}</td>
              <td>{{entidad.solucion}}</td>
              <td>{{entidad.observacion}}</td>
              <td>
                <p-button icon="pi pi-pencil" variant="text" severity="warn" class="mr-2" [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                <p-button icon="pi pi-trash" variant="text" severity="danger" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
              </td>
            </tr>
          </ng-template>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center text-gray-600">
              No hay registros aún. ¡Vamos, regístralo por primera vez!
            </td>
          </tr>
        </ng-template>
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog [(visible)]="displayModal" [style]="{ width: '90%', maxWidth: '450px' }" [modal]="true" header="Formulario">
    <ng-template #content>
        <div class="formulario">
            <div>
              <label for="data" class="block font-bold mb-3">Vehiculo</label>
                <p-dropdown fluid [appendTo]="'body'"
                  [options]="asginado"
                  optionLabel="placa"
                  optionValue="id"
                  [(ngModel)]="entidad.asignacion_vehiculo"
                  placeholder="Seleccione un vehiculo">
              </p-dropdown>
            </div>
            <div>
              <label for="fecha_hora" class="block font-bold mb-3">Fecha Incidencia</label>
              <p-datepicker id="fecha_hora" dateFormat="dd-MM-yy" placeholder="Elija la fecha de incidente" [showIcon]="true" [(ngModel)]="entidad.fecha_hora" [appendTo]="'body'" fluid />
            </div>
            <div>
              <label for="incidencia" class="block font-bold mb-3">Incidencia</label>
              <textarea id="incidencia" pTextarea [(ngModel)]="entidad.incidencia" rows="5" cols="30" fluid ></textarea>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" severity="info" icon="pi pi-times" text (click)="cerrarDialogo()" />
      <p-button label="Guardar" severity="info" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
                            