<p-confirmdialog></p-confirmdialog>
<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template #start>
        <p-button label="Nuevo" variant="text" severity="info" icon="pi pi-plus" [raised]="true" (click)="mostrarDialogo()" />
      </ng-template>
      <ng-template #end>
        <div class="busqueda-export">
          <input pInputText type="text" class="busqueda-input" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
        </div>
      </ng-template>
    </p-toolbar>
    
    <!-- Tabla -->                            
    <p-table 
        #dt 
        [value]="cargando ? skeletonData : lista"
        [loading]="cargando" 
        [rows]="5" 
        [paginator]="true" 
        [globalFilterFields]="['id', 'tipo_vehiculo', 'numero', 'placa', 'color', 'marca', 'modelo', 'fabricacion', 'kilometraje_inicial', 'numero_serie', 'numero_motor', 'observacion']"
        [style.width.%]="100"  
        [rowsPerPageOptions]="[5, 10, 20]" 
        [rowHover]="true"
        dataKey="id"
        [showCurrentPageReport]="true"
        >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
            <th pSortableColumn="tipo_vehiculo">Tipo <p-sortIcon field="tipo_vehiculo" /></th>
            <th pSortableColumn="numero">N° Moto <p-sortIcon field="numero" /></th>
            <th pSortableColumn="placa">Placa <p-sortIcon field="placa" /></th>
            <th pSortableColumn="color">Color <p-sortIcon field="color" /></th>
            <th pSortableColumn="marca">Marca <p-sortIcon field="marca" /></th>
            <th pSortableColumn="modelo">Modelo <p-sortIcon field="modelo" /></th>
            <th pSortableColumn="fabricacion">Fabricación <p-sortIcon field="fabricacion" /></th>
            <th pSortableColumn="kilometraje_inicial">Kilometraje Inicial <p-sortIcon field="kilometraje_inicial" /></th>
            <th pSortableColumn="numero_serie">N° Serie <p-sortIcon field="numero_serie" /></th>
            <th pSortableColumn="numero_motor">N° Motor <p-sortIcon field="numero_motor" /></th>
            <th pSortableColumn="observacion">Adquisición <p-sortIcon field="observacion" /></th>
            <th >Operaciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr *ngIf="cargando; else mostrarDatos">
                <td><p-skeleton width="2rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="3rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="2rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="4rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="8rem" height="1.5rem"></p-skeleton></td>
                <td><p-skeleton width="5rem" height="1.5rem"></p-skeleton></td>
            </tr>
            <ng-template #mostrarDatos>
                <tr>
                    <td>{{entidad.id}}</td>
                    <td>{{obtenerNombreTipoVehiculo(entidad.tipo_vehiculo)}}</td>
                    <td>{{entidad.numero}}</td>
                    <td>{{entidad.placa}}</td>
                    <td>{{entidad.color}}</td>
                    <td>{{entidad.marca}}</td>
                    <td>{{entidad.modelo}}</td>
                    <td>{{entidad.fabricacion}}</td>
                    <td>{{entidad.kilometraje_inicial}}</td>
                    <td>{{entidad.numero_serie}}</td>
                    <td>{{entidad.numero_motor}}</td>
                    <td>{{entidad.observacion}}</td>
                    <td>
                        <p-button icon="pi pi-pencil" variant="text" severity="warn" class="btn-azul-fuerte mr-2"  [raised]="true" (click)="CargarDatosModal(entidad)"></p-button>
                        <p-button icon="pi pi-trash" variant="text" severity="danger" class="btn-azul-fuerte" [raised]="true" (click)="eliminar(entidad.id)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
        <!--<ng-template #summary>
            <div class="flex items-center justify-between">En total hay  {{ entidad ? entidad.length : 0 }} entidad.</div>
        </ng-template> -->
    </p-table>
</div>


<!-- Modal para agregar o editar producto -->
<p-dialog 
    [(visible)]="displayModal" 
    [style]="{ width: '95%', maxWidth: '600px' }"
    [modal]="true"
    header="Formulario"
    [baseZIndex]="10000"
    [contentStyle]="{ 'max-height': '80vh', 'overflow': 'auto' }" 
    >

    <ng-template #content>
        <div class="formulario">
            <div>
                <label for="tipovehiculo" class="block font-bold mb-3">Tipo Vehiculo</label>
                <p-dropdown fluid [appendTo]="'body'"
                    [options]="tipovehiculos"
                    optionLabel="nombre_tipo_vehiculo"
                    optionValue="id"
                    [(ngModel)]="entidad.tipo_vehiculo"
                    placeholder="Seleccione un tipo de vehiculo">
                </p-dropdown>
            </div>
            <div>
                <label for="numero" class="block font-bold mb-3">N° de moto</label>
                <input id="numero" type="text" pInputText [(ngModel)]="entidad.numero" fluid/>
            </div>
            <div>
                <label for="placa" class="block font-bold mb-3">Placa</label>
                <input id="placa" type="text" pInputText [(ngModel)]="entidad.placa" fluid/>
            </div>
            <div>
                <label for="color" class="block font-bold mb-3">Color</label>
                <input id="color" type="text" pInputText [(ngModel)]="entidad.color" fluid/>
            </div>
            <div>
                <label for="marca" class="block font-bold mb-3">Marca</label>
                <input id="marca" type="text" pInputText [(ngModel)]="entidad.marca" fluid/>
            </div>
            <div>
                <label for="modelo" class="block font-bold mb-3">Modelo</label>
                <input id="modelo" type="text" pInputText [(ngModel)]="entidad.modelo" fluid/>
            </div>
            <div>
                <label for="fabricacion" class="block font-bold mb-3">Fabricación</label>
                <input id="fabricacion" type="text" pInputText [(ngModel)]="entidad.fabricacion" fluid/>
            </div>
            <div>
                <label for="kilometraje_inicial" class="block font-bold mb-3">Kilometraje inicial</label>
                <input id="kilometraje_inicial" type="text" pInputText [(ngModel)]="entidad.kilometraje_inicial" fluid/>
            </div>
            <div>
                <label for="numero_serie" class="block font-bold mb-3">N° Serie</label>
                <input id="numero_serie" type="text" pInputText [(ngModel)]="entidad.numero_serie" fluid/>
            </div>
            <div>
                <label for="numero_motor" class="block font-bold mb-3">N° Motor</label>
                <input id="numero_motor" type="text" pInputText [(ngModel)]="entidad.numero_motor" fluid/>
            </div>
            <div>
                <label for="observacion"  class="block font-bold mb-3">Tipo de adquisición</label>
                <p-dropdown
                    [appendTo]="'body'"
                    inputId="observacion"
                    [(ngModel)]="entidad.observacion"
                    [options]="listaTipos"
                    optionLabel="nombre"
                    optionValue="observacion"
                    placeholder="Seleccionar"
                    class="w-full"
                />
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
      <p-button label="Cancel" icon="pi pi-times" text (click)="cerrarDialogo()" />
      <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
    </ng-template>
</p-dialog>
                            